<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Babyl-RWANDA Backend Technical Assessment</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/">HABIMANA Clement Robert</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/fizzbuzz">Fizz Buzz
						Challenge <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item  active"><a class="nav-link"
					href="/flamingo">Pink Flamingo Challenge</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/converter/roman">Numeral to Roman Converter</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/converter/numeral">Roman To Numeral Converter</a></li>
				<li class="nav-item"><a class="nav-link" href="/bodmas">Bodmas
						Roman Calculator</a></li>
			</ul>
		</div>
	</nav>
	<main role="main" class="container">
		<br /> <br />
		<div class="jumbotron">
			<h1>Pink Flamingo Challenge</h1>
			<p>Then extend the program to say “Flamingo” when a number is a
				member of the Fibonacci sequence, and “Pink Flamingo” when it is a
				multiple of 3 and 5 and a member of the Fibonacci sequence. Hint: A
				number is Fibonacci if and only if one or both of 5 * n or is a
				perfect square 2 + 4 5 * n 2 − 4 (i.e. A number made by squaring a
				whole number).</p>
			<form th:action="@{/flamingo}" method="POST" th:object="${request}">
				<div class="row">
					<div class="form-group  col-sm-3">
						<label for="firstNumber" class="col-form-label">Start At:
						</label> <input type="text" class="form-control" id=""
							th:field="*{startAt}" value="0"><span
							class="error text-danger" th:if="${#fields.hasErrors('startAt')}"
							th:errors="*{startAt}"></span>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-3">
						<label for="inputPassword" class="col-form-label">Stop At:
						</label> <input type="text" class="form-control col-xs-3" id=""
							th:field="*{stopAt}" placeholder="100"><span
							class="error text-danger" th:if="${#fields.hasErrors('stopAt')}"
							th:errors="*{stopAt}"></span>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Generate Fizz
					Buzz and Pink Flammingo Numbers</button>
			</form>
			<p th:if="${messageDisplay}">
				<span th:text="${response}"></span>
			</p>
		</div>
	</main>
</body>
</html>